body {
	text-align: left;
	background: url("http://bit.ly/1iupkMA");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color: gray;
	color: #F08080;
	font-size: 25px;
	font-family: Helvetica; alt="sans serif"; 
	font-weight: normal;

}

h1 {
	font size: 70px;
}

#slogan	
	{
	text-decoration: italic;
}

p.ex {
    height: 100px;
    width: 100px;
}

ul {
	font-size: 18px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	hover: #F08080;
	font-family:Helvetica;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	text-align:center;
}