body {
	text-align: right;
	background: url("http://bit.ly/1iupkMA");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color: gray;
	color: #F08080;
	font-size: 25px;
	font-family: Helvetica; alt="sans serif"; 
	font-weight: normal;

}

h1 {
	font size: 70px;
}

#slogan	
	{
	text-decoration: italic;
}

ul {
	font-size: 18px;
}